name: On push

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - run: docker compose -f docker-compose.test.yml pull

    - uses: satackey/action-docker-layer-caching@v0.0.11
      continue-on-error: true

    - run: docker compose -f docker-compose.test.yml up -d --build
    - run: sleep 3
    - run: docker compose -f docker-compose.test.yml exec -T web curl -f -LI http://localhost:3000/healthcheck
    - run: docker compose -f docker-compose.test.yml down

  deploy_production:
    needs: test
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: satackey/action-docker-layer-caching@v0.0.11
      continue-on-error: true

    - uses: docker/login-action@v3
      with:
        registry: ${{ secrets.REGISTRY_URL }}
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - uses: docker/build-push-action@v6
      with:
        push: true
        tags: ${{ secrets.REGISTRY_URL }}/${{ secrets.REGISTRY_REPO }}:production
